---
layout: default
---

<article class="post">
  <h1>Poi: {{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="reference">
    <p><a href="http://spherculism.com/node/{{ page.nid }}" title="Spherculism: {{ page.title }}">See the original discussion which lead to this definition.</a></p>
  </div>

  <div class="date">
    <p>Written on {{ page.date | date: "%B %e, %Y" }}</p>
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
